{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "alias": {
          "lib": "./src/lib",
          "gql": "./src/gql"
        }
      }
    ]
  ]
}
